{% extends "base.html" %}

{% block content %}
    <div class="w-full sm:w-4/12 my-3 p-2 md:p-4 mx-auto rounded-md bg-transparent">
        <h1 class="text-lg md:text-xl text-white text-center font-bold my-2">Sign Up</h1>

        <form method="post" action=".">
            {% csrf_token %}

            <div class="mb-2">
                <label class="block mb-1 text-white">Username</label>
                {{ form.username }}
            </div>
            <div class="mb-2">
                <label class="block mb-1 text-white">Email</label>
                {{ form.email }}
            </div>
            <div class="mb-2">
                <label class="block mb-1 text-white">Password</label>
                {{ form.password1 }}
            </div>
            <div class="mb-2">
                <label class="block mb-1 text-white">Password Confirmation</label>
                {{ form.password2 }}
            </div>

            {% if form.errors or form.non_field_errors %}
                <div class="mb-2 p-2 bg-red-100 rounded-md">
                    {% for field in form %}
                        {{ field.errors }}
                    {% endfor %}
                    {{ form.non_field_errors }}
                </div>
            {% endif %}

            <button type="submit" class="bg-sky-600 hover:bg-indigo-700 text-white font-bold py-2 px-4 text-md rounded my-2">Sign Up</button>
        </form>
    </div>
{% endblock %}
